/* body{
    background-color: red;
} */
.main-nav{
    display: flex;
    font-size: 8px;
    padding: 0px;
}

.main-nav:hover{
    display: flex;
    list-style: none;
    line-height: 1.5em;
    margin: 0;
    color: white;
    cursor: default;
}

.main-nav a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #000000;
    font-size: 1rem;
    
}

.piyush{
    display:none;
}

/* SOCIAL */
.cover:hover{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    justify-content: center;
    cursor: default;
}
/* SOCIAL */

.socialh1:hover{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    cursor: default;
}

.social-img{
    height: 40px;
    width: 40px;
    display: inline-block;

}

.social-img:hover{
    height: 40px;
    width: 40px;
    display: inline-block;
}

.social-text{
    display: inline-block;
    padding: 0px 1.2rem;
    font-size: 13px;
    transition: 1s;
    color: white;
}

.social-text:hover{
    display: inline-block;
    padding: 0px 1.2rem;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

/* ABOUT */

.abouth1:hover{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    /* color: ; */
}

.about-para:hover{
    font-size: 1.5rem;
}

.about-para:last-child:hover{
    font-size: 1.3rem;
}
